/* Globals */

html,body{min-height:100vh}

:root  {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270F34;
  --brand-lines: #4B3457;
  /* Blockstack colors */
  --brand-dark: #211F6D;
  --brand-mild: #C4D8E5;
  --brand-greyish: #F1F6F9;
  --brand-bright: #3700FF;
  --brand-accent: #00D4FF;
}

:root  {
  --primary: var(--brand-accent);
}

.btn.btn-primary {
  color: var(--brand-accent);
}

.btn-secondary {
  color: var(--brand-lines);
}

.navbar .btn {
  transition: opacity 0.3s;
}

.navbar .btn:not(:hover) {
  opacity: 0.3;
}

#App {
  min-height: 100vh;
}

.inspect {
  border: thin solid red;
}

.navbar-dark {
  background-color: var(--brand-dark) !important;
}

/* Avatar */
.avatar{width:100px;height:100px; border-radius: 50%}
.avatar-section{margin:25px;}

/* Scaffolding */
/*.site-wrapper{width:100%;height:90% !important;min-height:90vh !important;}
.site-wrapper-inner{display:flex;flex-direction:column;justify-content:center;margin-right:auto;margin-left:auto;width:100%;height:90%;}
*/

.panel-landing {
  max-width: 40em;
  margin: auto;
}

.navbar .logo {
  max-height: 32px;
  border-radius: 5px;
}

/* Search */

.Search input.form-control {
  background-color: #DDDDDD44;
  border-radius: 1.5em;
  opacity: 0.5;
  padding-left: 1em;
  padding-right: 1em;
}

 .Search input.form-control::placeholder {
   color: var(--primary);
   opacity: 0.9;
   line-height: 2em;
 }

.Search .form-control:hover {
  opacity: 0.7;
}

.Search .form-control:focus {
  opacity: 1;
}

/* Dropzone */

.Dropzone {
  height: 2em;
  margin: auto;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 5%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Dropzone  {
  font-size: 4em;
  color: var(--brand-mild);
  opacity: 0.5;
  transition: opacity 0.3s;
}

.Dropzone:hover {
  border-color: var(--primary);
  color: var(--primary);
  opacity: 1;
}

.Dropzone.dragging {
  border-color: var(--primary);
  color: var(--primary);
  opacity: 1;
}
