/*
.Browser.table {
  height: 10em;
  width: 100%;
  display:block;
  overflow-y: scroll;
  border: thin solid red;
}

.Browser tbody {
  display:block;
}
*/

.Browser.table-striped tbody tr:nth-of-type(2n+1):not(:hover) {
  background-color: rgb(0,0,0,0.01);
}

.Browser.table-striped td {
  border: none;
}

.action-cell {
  opacity: 0.1;
}

.Browser tr.table-active .action-cell, .Browser tr:hover .action-cell {
  opacity: 1;
}

.Browser th a {
  color: inherit;
}

.Browser tr .icon {
  color: gray;
  opacity: 1.0;
}

.Browser tr .star {
  color: gray;
  opacity: 0.6;
}

.Browser tr .star.active {
  color: var(--orange);
}

.Browser tbody tr .Pathname {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
