/*
.Browser.table {
  height: 10em;
  width: 100%;
  display:block;
  overflow-y: scroll;
  border: thin solid red;
}

.Browser tbody {
  display:block;
}
*/

.action-cell {
  opacity: 0.1;
}

.Browser tr.table-active .action-cell, .Browser tr:hover .action-cell {
  opacity: 1;
}
