/*
.Browser.table {
  height: 10em;
  width: 100%;
  display:block;
  overflow-y: scroll;
  border: thin solid red;
}

.Browser tbody {
  display:block;
}
*/

.action-cell {
  opacity: 0.1;
}

.Browser tr.table-active .action-cell, .Browser tr:hover .action-cell {
  opacity: 1;
}

.Browser th a {
  color: inherit;
}

.Browser th .star {
  color: gray;
  opacity: 0.6;
}

.Browser th .star.active {
  color: var(--orange);
}
